# flyctl launch added from .venv/.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
.venv/**/*

# flyctl launch added from .venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/.gitignore
.venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.*.so
.venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.*.pyd
.venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/_pydevd_frame_eval/pydevd_frame_evaluator.pyx

# flyctl launch added from .venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/.gitignore
.venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_x86.dylib
.venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_x86_64.dylib
.venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_linux_x86.o
.venv/lib/python3.13/site-packages/debugpy/_vendored/pydevd/pydevd_attach_to_process/linux_and_mac/attach_linux_x86_64.o

# flyctl launch added from backend/.gitignore
# Logs
backend/**/logs
backend/**/*.log
backend/**/npm-debug.log*
backend/**/yarn-debug.log*
backend/**/yarn-error.log*
backend/**/firebase-debug.log*
backend/**/firebase-debug.*.log*

# Firebase cache
backend/**/.firebase

# Firebase config

# Uncomment this if you'd like others to create their own Firebase project.
# For a team working on the same Firebase project(s), it is recommended to leave
# it commented so all members can deploy to the same project(s) in .firebaserc.
# .firebaserc

# Runtime data
backend/**/pids
backend/**/*.pid
backend/**/*.seed
backend/**/*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
backend/**/lib-cov

# Coverage directory used by tools like istanbul
backend/**/coverage

# nyc test coverage
backend/**/.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
backend/**/.grunt

# Bower dependency directory (https://bower.io/)
backend/**/bower_components

# node-waf configuration
backend/**/.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
backend/**/build/Release

# Dependency directories
backend/**/node_modules

# Optional npm cache directory
backend/**/.npm

# Optional eslint cache
backend/**/.eslintcache

# Optional REPL history
backend/**/.node_repl_history

# Output of 'npm pack'
backend/**/*.tgz

# Yarn Integrity file
backend/**/.yarn-integrity

# dotenv environment variables file
backend/**/.env

# dataconnect generated files
backend/**/.dataconnect
fly.toml
